:root {
  --color-primary: #EB7724;
  --color-primary-hover: #ea580c;
  --color-text-dark: #0E0E0E;
  --color-text-muted: #555555;
  --color-border-light: #e5e7eb;
  --color-white: #ffffff;
  --color-text-light: #2F2F2F;
  --color-text-blue:#3A63D2;

}
