:root {
  --color-primary: #d1641d; /* Accessible Orange */
  --color-primary-hover: #b45309;
  --color-text-dark: #0e0e0e;
  --color-text-muted: #4B5563; /* Darkened for better contrast */
  --color-border-light: #e5e7eb;
  --color-white: #fff;
  --color-text-light: #2f2f2f;
  --color-text-blue: #3b82f6;
  --color-bg-lite: #f9fafb;
  --color-green: #79bb43;
  --color-dark-gray: #1f2937;
  --color-gray-500: #4B5563; /* Darkened from #6b7280 for accessibility */
  --color-gray-600: #4B5563;
  --color-gray-900: #111827;
  --color-error:#FF0000;
 

}
