:root {
  --color-primary: #f97316;
  --color-primary-hover: #ea580c;
  --color-text-dark: #111111;
  --color-text-muted: #555555;
  --color-border-light: #e5e7eb;
  --color-white: #ffffff;
  --color-text-blue:#3A63D2;

}
